@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
        @Html.AntiForgeryToken()

        <div class="top_right">
            <ul>
                @if (User.Identity.GetUserName() == "Administrator@gmail.com")

                { <li> @Html.ActionLink("Dashboard","Index","Dashboard")</li> }
                <li>
                    @Html.ActionLink("Bonjour " + User.Identity.GetUserName() + " !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
            </ul>
        </div>
    }
}
else
{
    <div class="top_right">
        <ul>
            <li>  @Html.ActionLink("Créer un compte", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
            <li>    @Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </li>
        </ul>
    </div>

}